<form action="/" method="POST">
  <div class="input-group mt-5 mb-3" style="justify-content: center;">
    <input type="text" class="form-control" style="max-width: 690px;" placeholder="Input URL here" name="url" aria-describedby="basic-addon1"required>
  </div>
  <div style="text-align: center">
    <button class="btn btn-outline-info mt-2 mb-2" style="width: 30%; max-width: 153px; min-width: 81px;">Shorten</button>
  </div>  
</form>

