<form action="/" method="POST">
  <div class="input-group mt-5 mb-3">
    <input type="text" class="form-control" placeholder="Input URL here" name="url" aria-describedby="basic-addon1"required>
  </div>
  <div style="text-align: center">
    <button class="btn btn-outline-info mt-2 mb-2" style="width: 30%;">Shorten</button>
  </div>  
</form>

