<div class="container">
  <div class="column">
    <div class="col-12 col-md-8 mx-auto mt-2">
      <p class="fs-1 text-center top-20">Oops, 404</p>
    </div>
    <div style="text-align: center">
    <a href="{{ homepage }}" class="mx-auto">back to url shortener</a>
    </div>
  </div>
</div>